#igeFrontBuffer {
    background-color: #407c03;
}


.igeButton {
    background-color: #bbb; 
    border-radius: 3px; 
    padding:2px; 
}

.ui-dialog .ui-dialog-titlebar {
    padding: 10px;
}
.ui-widget-header {
    border: none;
    background: none;
    font-family: 'Verdana', cursive;
    font-style: #fff;
    padding: 10px;
    font-size: 14px;
}
.ui-dialog .ui-dialog-content {
    padding: 0;
    background-image: url('/client/assets/textures/backgrounds/greenBackground.png');
}
.ui-dialog {
    font-family: 'Verdana', cursive;
    font-style: #fff;

    background-image: url('/client/assets/textures/backgrounds/greenBackground.png');
    background-color: #0c0;
}
.ui-dialog .ui-dialog-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.ui-dialog .ui-dialog-content ul li {
    font-family: 'Verdana', cursive;
    font-style: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-image: url('/client/assets/textures/backgrounds/greenBackground.png');
}
.ui-dialog .ui-dialog-content ul li:hover
{
    color:#fff;
}
.ui-dialog-no-titlebar .ui-dialog-titlebar {
    display: none;
}

.editorTopNavBar ul {
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    color: white;
}

.editorTopNavBar ul li {
    display: inline;
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    margin-right: 5px;
    border: 2px solid;
    border-radius: 5px;
    background-color: green;
}

#objectClickContent{
    text-align: center;
}

.goalTaskImage{
    margin-top: -7px;
    margin-left: 8px;
    height: 30px; /*this should be a px value for calculation reasons*/
    position: absolute;
}