#igeFrontBuffer {
	background-color: #407c03;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 10px;
}

.ui-widget-header {
    border: none;
    background: none;
    font-family: helvetica, arial, 'lucida grande', sans-serif;
    padding: 10px;
    font-size: 14px;
}

.ui-dialog .ui-dialog-content {
    padding: 0;
}

.ui-dialog .ui-dialog-content ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ui-dialog .ui-dialog-content ul li{
    font-family: helvetica, arial, 'lucida grande', sans-serif;
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #e9eaed;
    background: rgba(237,239,245,.98);
}

.ui-dialog-no-titlebar .ui-dialog-titlebar {
    display:none;
}