body {
    background-color: #407c03;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', 'Open Sans';

}

.front {
    background: url(/client/assets/loginbg.png) no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: blur(5px);
}

.dialogback {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 5em;
    text-align: center;
}

.dialog {
    border: 1px solid black;
    border-radius: 0.5em;
    background: white;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    min-width: 300px;
    padding: 0.7em;
}

.dialog img {
    height: 3em;
}

.dialog.pay {
    background: white;
}

#paybutton {
    margin-top: 0.5em;
}

#paybutton button {
    font-size: 1.4em;
    padding: 0.3em 1.5em;
}

#loading {
    font-size: 1.4em;
    color: #aaa;
    margin: 2em;
}

#notloading {
    display: none;
}
